.blueCol{
    background-color: dodgerblue;
    margin-right: 0.5rem;
    border-radius: 2%;
}

.beigeCol{
    background-color: blanchedalmond;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 1.5rem;
}


.contentHeight{
    height: 30rem;
}

.paddingtop:nth-of-type(even){
    background-color: darkcyan;
}

.paddingtop{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topContainer{
    width: 100%;
}

h3{
    text-align: center;
}

.one{
   background: url(images/001.JPG);
   height:100%;
   width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

.two{
    background: url(images/1.JPG);
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
 }

 .three{
    background: url(images/2.JPG);
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 

 }

 .four{
    background: url(images/3.JPG);
    height:100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
 }

 .five{
    background: url(images/05.JPG);
    height:100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
 }

 .six{
    background: url(images/06.JPG);
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
 }

 .seven{
    background: url(images/07.JPG);
    height:100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
 }
